<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Highlights</title>
</head>
<body>
    <h1>Your Highlights</h1>
    <div id="highlights">
        <div class="highlight">

        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const data = JSON.parse(localStorage.getItem('highlights'))
            let template = ``
            data.forEach(highlight => {
                template += `
                    <div class="highlight">
                        ${highlight.text}
                    </div>
                `
            })
            document.getElementById('highlights').innerHTML = template
        })
    </script>

</body>
</html>